<div>
  <h4>Gestion des saisies</h4>
  <ul class="list-group" *ngIf="donneesSaisies">
    <li *ngFor="let saisie of donneesSaisies" class="list-group-item">

      {{saisie.dateSaisie | date:'yyyy/MM/dd'}} - {{saisie.employe}}
      <!-- autreKm: null
      dateSaisie: 1544655600000
      employe: "5baff2462efb71c0790b6e55"
      enfant: "5baff25f2efb71c0790b6e6b"
      heureArrivee: 1544683552041
      heureDepart: 1544716852041
      id: "5c129626584c072e7074024d"
      nbArEcole: null
      nbDejeuner: 0
      nbGouter: 1
      saisie: null -->

    </li>
  </ul>
</div>
