<div class="container resultats-container" *ngIf="resultat">
  <div class="row">
    <div class="col-sm-12">

      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-danger" (click)="reset()">Recommencer</button>
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <h2>Déclaration du <span class="badge badge-primary">{{resultat.mois}}/{{resultat.annee}}</span>
            </h2>
            <h4><span class="badge badge-info">{{resultat.nbJoursTravailles}}</span> jour(s) travaillé(s)</h4>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Heures</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Réelles</th>
                  <th scope="col">Normales réelles</th>
                  <th scope="col">Normales mensualisées</th>
                  <th scope="col">Complémentaires</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{resultat.nombreHeures.heuresReelles}}</td>
                  <td>{{resultat.nombreHeures.heuresNormalesReelles}}</td>
                  <td>{{resultat.nombreHeures.heuresNormalesMensualisees}}</td>
                  <td>{{resultat.nombreHeures.heuresComplementaires}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Salaire</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Net mensualisé</th>
                  <th scope="col">Net heures comp.</th>
                  <th scope="col">Congés payés</th>
                  <th scope="col">Net TOTAL</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{resultat.salaire.salaireNetMensualise}}</td>
                  <td>{{resultat.salaire.salaireNetHeuresComplementaires}}</td>
                  <td>{{resultat.salaire.congesPayes}}</td>
                  <td>{{resultat.salaire.salaireNetTotal}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h6>Rappel taux horaires</h6>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Heure normale</th>
                  <th scope="col">Heure complémentaire</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{resultat.salaire.tauxHoraireNetHeureNormale}}</td>
                  <td>{{resultat.salaire.tauxHoraireNetHeureComplementaire}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Indemnités</h4>
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col">Entretien</th>
                  <th scope="col">Repas</th>
                  <th scope="col">Kilométrique</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>{{resultat.indemnites.indemnitesEntretien}}</td>
                  <td>{{resultat.indemnites.indemnitesRepas}}</td>
                  <td>{{resultat.indemnites.indemnitesKm}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <h4>Salaire total : <span class="badge badge-primary">{{resultat.montantPaiementMensuel}} €</span>
            </h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
