<div class="row">
  <div class="col-sm-6">

    <div [hidden]="!authenticated()">
      <form #uploadForm>
        <div class="form-group">
          <label for="mois">Mois du calcul</label>
          <select class="form-control" name="mois" id="mois" [(ngModel)]="monthSelected">
            <option *ngFor="let month of monthsList" [ngValue]="month">{{month}}</option>
          </select>
        </div>
        <div class="form-group">
          <input type="file" id="file" #file (change)="fileChange()">
        </div>
      </form>

      <div class="container">
        <p>{{uploadResponse}}</p>
      </div>
    </div>
    <div [hidden]="authenticated()">
      <p>Se connecter pour effectuer une déclaration : <a routerLink="/login">Connexion</a></p>
    </div>

  </div>
</div>
