<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/saisie/gestion">Gérer les saisies</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/saisie/nouvelle">Nouvelle saisie</a>
      </li>
      <li class="nav-item" [routerLinkActive]="['active']">
        <a class="nav-link" routerLink="/saisie/import">Importer une saisie</a>
      </li>
    </ul>
</nav>
<router-outlet></router-outlet>
