<div class="container">

  <div *ngIf="!modeSaisie">
    <p>Saisie enregistrée !</p>
    <div class="row">
      <div class="col">
        <button class="btn btn-primary" (click)="initForm()">Nouvelle saisie</button>
        <button class="btn btn-link" routerLink="/saisie/gestion">Consulter les saisies</button>
      </div>
    </div>
  </div>

  <form (ngSubmit)="onSubmit()" *ngIf="modeSaisie">

    <div class="row">
      <div class="col">
        <p>Saisie des heures de garde des enfants.</p>
      </div>
    </div>

    <div class="form-group row">
      <label for="dateSaisie" class="col-1 col-form-label">Date : </label>
      <div class="col-3 text-center">
        <input type="text" class="form-control" #dp="bsDatepicker" bsDatepicker [bsConfig]="{ dateInputFormat: 'DD/MM/YYYY' }"
          name="dateSaisie" id="dateSaisie" [(ngModel)]="dateSaisie" />
      </div>
      <div class="col text-right">
        <button type="submit" class="btn btn-success btn-lg">Valider <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
      </div>
    </div>

    <div class="row" *ngIf="error">
      <div class="col alert alert-danger" role="alert">
        <p><strong>{{error.libelle}}</strong></p>
        <p>{{error.message}}</p>
      </div>
    </div>

    <div class="row enfant-row" *ngFor="let enfant of enfants">

      <div class="col-2 toggle-enfant" (click)="toggleEnfant(enfant)" title="Activer/Désactiver la saisie" [ngClass]="{'bg-white text-black': model[enfant.id].saisie, 'bg-light text-secondary': !model[enfant.id].saisie}">
        <p>{{enfant.nom}} <span class="toggle-enfant-check" *ngIf="!model[enfant.id].saisie">✖</span><span class="toggle-enfant-check"
            *ngIf="model[enfant.id].saisie">✔</span></p>
      </div>
      <div class="col-2 select-employe">
        <div class="form-group text-center">
          <span>Employé</span>
          <select [(ngModel)]="model[enfant.id].employe" name="employe_{{enfant.id}}" class="custom-select" [disabled]="!model[enfant.id].saisie">
            <option *ngFor="let employe of enfant.employes" [ngValue]="employe.id">{{employe.text}}</option>
          </select>
        </div>
      </div>

      <div class="col">

        <div class="row">
          <div class="col">
            <div class="form-group">
              <span>Arrivée</span>
              <timepicker name="heurearrivee_{{enfant.id}}" [(ngModel)]="model[enfant.id].heureArrivee" [disabled]="!model[enfant.id].saisie"
                [showMeridian]="false"></timepicker>
            </div>
          </div>
          <div class="col">
            <p>Déjeuner</p>
            <div class="form-group form-check-inline">
              <div class="form-check" *ngFor="let dej of inputNbDejeuner">
                <label class="radio-container"><span class="radio-lib">{{dej}}</span>
                  <input type="radio" [value]="dej" checked="checked" id="nbDejeuner_{{enfant.id}}" name="nbDejeuner_{{enfant.id}}"
                    [(ngModel)]="model[enfant.id].nbDejeuner" [disabled]="!model[enfant.id].saisie" />
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <p>AR école</p>
            <div class="form-group form-check-inline">
              <div class="form-check" *ngFor="let ecole of inputNbAREcole">
                <label class="radio-container"><span class="radio-lib">{{ecole}}</span>
                  <input type="radio" [value]="ecole" checked="checked" id="nbArEcole_{{enfant.id}}" name="nbArEcole_{{enfant.id}}"
                    [(ngModel)]="model[enfant.id].nbArEcole" [disabled]="!model[enfant.id].saisie" />
                </label>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col">
            <div class="form-group">
              <span>Départ</span>
              <timepicker name="heuredepart_{{enfant.id}}" [(ngModel)]="model[enfant.id].heureDepart" [disabled]="!model[enfant.id].saisie"
                [showMeridian]="false"></timepicker>
            </div>
          </div>
          <div class="col">
            <p>Goûter</p>
            <div class="form-group form-check-inline">
              <div class="form-check" *ngFor="let gouter of inputNbGouters">
                <label class="radio-container"><span class="radio-lib">{{gouter}}</span>
                  <input type="radio" [value]="gouter" checked="checked" id="nbGouter_{{enfant.id}}" name="nbGouter_{{enfant.id}}"
                    [(ngModel)]="model[enfant.id].nbGouter" [disabled]="!model[enfant.id].saisie" />
                </label>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="autreKm_{{enfant.id}}">Autres déplacements</label>
              <input type="text" class="form-control" name="autreKm_{{enfant.id}}" [(ngModel)]="model[enfant.id].autreKm"
                [disabled]="!model[enfant.id].saisie" />
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col text-right">
        <button type="submit" class="btn btn-success btn-lg">Valider <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i></button>
      </div>
    </div>

    <hr>

  </form>
</div>
