.app-header {
  margin-bottom: 25px;
}

.header-logo {
  width: 20px;
  margin-right: 15px;
}

.logout-link {
  cursor: pointer;
}

.status {
  font-size: 0.8em;
  padding-top: 10px;
  padding-right: 40px;
}
