<div class="row param-row">
  <div class="col">
    <h4>Employés</h4>
  </div>
  <div class="col text-right">
    <button type="button" class="btn btn-light" (click)="reinitEmployes()">Réinitialiser</button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col">
    <accordion [closeOthers]="true">
      <accordion-group *ngFor="let employe of employes" heading="{{employe.prenom}} {{employe.nom}}" panelClass="acc-header">
        <i *ngIf="!modelEmploye[employe.id]" class="fa fa-spinner fa-spin fa-fw"></i>
        <form name="form{{employe.id}}" *ngIf="modelEmploye[employe.id]">

          <!-- Identité -->
          <div class="row">
            <div class="col form-group">
              <label for="nom{{employe.id}}">Nom</label>
              <input type="text" class="form-control" name="nom{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].nom" />
            </div>
            <div class="col form-group">
              <label for="prenom{{employe.id}}">Prénom</label>
              <input type="text" class="form-control" name="prenom{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].prenom" />
            </div>
          </div>

          <!-- Taux horaire -->
          <div class="row">
            <div class="col form-group">
              <label for="tauxHoraireNormalBrut{{employe.id}}">Tx horaire HN BRUT</label>
              <input type="number" class="form-control" name="tauxHoraireNormalBrut{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].tauxHoraireNormalBrut" />
            </div>
            <div class="col form-group">
              <label for="tauxHoraireNormalNet{{employe.id}}">Tx horaire HN NET</label>
              <input type="number" class="form-control" name="tauxHoraireNormalNet{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].tauxHoraireNormalNet" />
            </div>
            <div class="col form-group">
              <label for="tauxHoraireComplementaireBrut{{employe.id}}">Tx horaire HC BRUT</label>
              <input type="number" class="form-control" name="tauxHoraireComplementaireBrut{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].tauxHoraireComplementaireBrut" />
            </div>
            <div class="col form-group">
              <label for="tauxHoraireComplementaireNet{{employe.id}}">Tx horaire HC NET</label>
              <input type="number" class="form-control" name="tauxHoraireComplementaireNet{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].tauxHoraireComplementaireNet" />
            </div>
          </div>

          <!-- Indemnités -->
          <div class="row">
            <div class="col form-group">
              <label for="indemnitesKm{{employe.id}}">Ind. KM</label>
              <input type="number" class="form-control" name="indemnitesKm{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].indemnitesKm" />
            </div>

            <div class="col form-group">
              <label for="indemnitesEntretien{{employe.id}}">Ind. Entretien : MIN € &lt; Borne h &lt; MAX €</label>
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">Min</span>
                </div>
                <input type="number" class="form-control" name="indemnitesEntretienMin{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].indemnitesEntretien.indemniteInf" />
                <div class="input-group-prepend">
                  <span class="input-group-text">&lt;</span>
                </div>
                <input type="number" class="form-control" name="indemnitesEntretienBorne{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].indemnitesEntretien.borne" />
                <div class="input-group-append">
                  <span class="input-group-text">&lt;</span>
                </div>
                <input type="number" class="form-control" name="indemnitesEntretienMax{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].indemnitesEntretien.indemniteSup" />
                <div class="input-group-append">
                  <span class="input-group-text">Max</span>
                </div>
              </div>
            </div>
          </div>

          <!-- Repas / CP -->
          <div class="row">
            <div class="col form-group">
              <label for="fraisDejeuner{{employe.id}}">Déjeuner</label>
              <input type="number" class="form-control" name="fraisDejeuner{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].fraisDejeuner" />
            </div>
            <div class="col form-group">
              <label for="fraisGouter{{employe.id}}">Goûter</label>
              <input type="number" class="form-control" name="fraisGouter{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].fraisGouter" />
            </div>
            <div class="col form-group">
              <label for="tauxCongesPayes{{employe.id}}">Tx CP</label>
              <input type="number" class="form-control" name="tauxCongesPayes{{employe.id}}" [(ngModel)]="modelEmploye[employe.id].tauxCongesPayes" />
            </div>
          </div>

          <!-- Actions -->
          <div class="row">
            <div class="col form-group text-right">
              <button class="btn btn-primary" (click)="saveEmploye(employe.id, savedTemplate)">Enregistrer</button>
              <span class="delete-employe-link" (click)="deleteEmploye(employe.id, deleteModalTemplate)">Supprimer</span>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </div>
</div>

<div class="row param-row">
  <div class="col">
    <h4>Enfants</h4>
  </div>
  <div class="col text-right">
    <button type="button" class="btn btn-light" (click)="reinitEnfants()">Réinitialiser</button>
  </div>
</div>

<hr>

<div class="row">
  <div class="col">
    <accordion [closeOthers]="true">
      <accordion-group *ngFor="let enfant of enfants" heading="{{enfant.nom}}" panelClass="acc-header">
        <i *ngIf="!modelEnfant[enfant.id]" class="fa fa-spinner fa-spin fa-fw"></i>
        <form name="form{{enfant.id}}" *ngIf="modelEnfant[enfant.id]">

          <div class="row">
            <div class="col form-group">
              <label for="nom{{enfant.id}}">Nom</label>
              <input type="text" class="form-control" name="nom{{enfant.id}}" [(ngModel)]="modelEnfant[enfant.id].nom" />
            </div>
            <div class="col form-group">
              <label for="typeGarde{{enfant.id}}">Type de garde</label>
              <select [(ngModel)]="modelEnfant[enfant.id].typeGarde" name="typeGarde{{enfant.id}}" class="custom-select"
                (change)="onChangeTypeGarde(enfant.id)">
                <option *ngFor="let type of typesGarde" [ngValue]="type.code">{{type.libelle}}</option>
              </select>
            </div>
          </div>

          <div class="row" *ngIf="modelEnfant[enfant.id].horairesEcole">
            <div class="col form-group">
              <label>Horaires école</label>
              TODO : mettre sous forme d'input horaire
              <ul class="list-group">
                <li class="list-group-item" *ngFor="let horaire of modelEnfant[enfant.id].horairesEcole">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">{{horaire.jour}}</span>
                    </div>
                    <div class="input-group-prepend">
                      <span class="input-group-text">Arr. matin</span>
                    </div>
                    <input type="text" class="form-control" name="am{{enfant.id}}{{horaire.jour}}" [(ngModel)]="modelEnfant[enfant.id].mapHorairesEcole[horaire.jour].am" />
                    <div class="input-group-prepend">
                      <span class="input-group-text">Dép. matin</span>
                    </div>
                    <input type="text" class="form-control" name="dm{{enfant.id}}{{horaire.jour}}" [(ngModel)]="modelEnfant[enfant.id].mapHorairesEcole[horaire.jour].dm" />
                    <div class="input-group-prepend">
                      <span class="input-group-text">Arr. AM</span>
                    </div>
                    <input type="text" class="form-control" name="aa{{enfant.id}}{{horaire.jour}}" [(ngModel)]="modelEnfant[enfant.id].mapHorairesEcole[horaire.jour].aa" />
                    <div class="input-group-prepend">
                      <span class="input-group-text">Dép. AM</span>
                    </div>
                    <input type="text" class="form-control" name="da{{enfant.id}}{{horaire.jour}}" [(ngModel)]="modelEnfant[enfant.id].mapHorairesEcole[horaire.jour].da" />
                  </div>
                </li>
              </ul>
            </div>
          </div>

          <div class="row">
            <div class="col form-group">
              <label>Employés</label>
              <div>
                <ul class="list-group">
                  <li *ngFor="let employe of modelEnfant[enfant.id].employes" class="list-group-item">
                    <span>
                      <h6>{{employe.paramEmploye.nom}}</h6>
                    </span>

                    <div class="row">
                      <div class="col form-group">
                        <label for="salaireNetMens{{enfant.id}}{{employe.paramEmploye.id}}">Salaire NET mensualisé</label>
                        <input type="number" class="form-control" name="salaireNetMens{{enfant.id}}{{employe.paramEmploye.id}}"
                          [(ngModel)]="modelEnfant[enfant.id].mapEmployes[employe.paramEmploye.id].salaireNetMensualise" />
                      </div>
                      <div class="col form-group">
                        <label for="hNormMens{{enfant.id}}{{employe.paramEmploye.id}}">H. normales mensualisées</label>
                        <input type="number" class="form-control" name="hNormMens{{enfant.id}}{{employe.paramEmploye.id}}"
                          [(ngModel)]="modelEnfant[enfant.id].mapEmployes[employe.paramEmploye.id].heuresNormalesMensualisees" />
                      </div>
                      <div class="col form-group">
                        <label for="arEcoleKm{{enfant.id}}{{employe.paramEmploye.id}}">Distance AR école</label>
                        <input type="number" class="form-control" name="arEcoleKm{{enfant.id}}{{employe.paramEmploye.id}}"
                          [(ngModel)]="modelEnfant[enfant.id].mapEmployes[employe.paramEmploye.id].arEcoleKm" />
                      </div>
                    </div>

                    <div class="row">
                      <div class="col form-group">
                        <label>Heures normales par jour</label>
                        <table class="table table-striped">
                          <thead>
                            <tr>
                              <th *ngFor="let heureNormale of employe.heuresNormales" scope="col">{{heureNormale.jour}}</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td *ngFor="let heureNormale of employe.heuresNormales">
                                <input type="number" class="form-control" name="hn{{enfant.id}}{{heureNormale.jour}}"
                                  [(ngModel)]="modelEnfant[enfant.id].mapEmployes[employe.paramEmploye.id].mapHeuresNormales[heureNormale.jour].heures" />
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </div>
                    </div>

                  </li>
                </ul>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col form-group text-right">
              <button class="btn btn-primary" (click)="saveEnfant(enfant.id)">Enregistrer</button>
              <span class="delete-employe-link" (click)="deleteEnfant(enfant.id, deleteModalTemplate)">Supprimer</span>
            </div>
          </div>
        </form>
      </accordion-group>
    </accordion>
  </div>
</div>


<ng-template #deleteModalTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Suppression</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()" [disabled]="toDelete.deleteEnCours">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Voulez-vous vraiment supprimer <strong>{{toDelete.name}}</strong> du paramétrage ?</p>
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-light" (click)="declineDeletion()" [disabled]="toDelete.deleteEnCours">Annuler</button>
        <button type="button" class="btn btn-danger" (click)="confirmDeletion(toDelete.deleteFunction, toDelete.id)"
          [disabled]="toDelete.deleteEnCours">
          <span><i *ngIf="toDelete.deleteEnCours" class="fa fa-spinner fa-spin fa-fw"></i></span>
          <span *ngIf="!toDelete.deleteEnCours">Supprimer</span>
        </button>
      </div>
    </div>

  </div>
</ng-template>

<ng-template #savedTemplate>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Enregistré</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <p>Paramétrage enregistré !</p>
    <div class="row">
      <div class="col text-right">
        <button type="button" class="btn btn-light" (click)="okModalSave()">Ok</button>
      </div>
    </div>
  </div>
</ng-template>
