.delete-employe-link {
  padding-left: 20px;
  color: red;
  font-style: italic;
  font-size: 0.9em;
  text-decoration: underline;
  text-decoration-color: red;
  cursor: pointer;
}

.param-row {
  padding-top: 40px;
}
