<div class="container">
  <div *ngIf="!modeImport">
    <p>Saisies importées !</p>
    <div class="row">
      <div class="col">
        <button class="btn btn-link" routerLink="/saisie/gestion">Consulter les saisies</button>
      </div>
    </div>
  </div>
  <div class="row" *ngIf="modeImport">
    <div class="col">
      <p>Importer un fichier .xlsx de saisie mensuelle.</p>
    </div>
  </div>
  <div class="row" *ngIf="modeImport">
    <div class="col align-self-center">
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="row">
          <div class="col align-self-center">
            <div class="form-group">
              <label for="mois">Mois</label>
              <select class="form-control" name="mois" id="mois" [(ngModel)]="monthSelected" formControlName="mois">
                <option *ngFor="let month of monthsList" [ngValue]="month">{{month}}</option>
              </select>
            </div>
          </div>
          <div class="col align-self-center">
            <div class="form-group">
              <label for="annee">Année</label>
              <input type="number" required minlength="4" class="form-control" name="annee" id="annee" [(ngModel)]="yearSelected"
                formControlName="annee" />
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col align-self-center">
            <div class="form-group">
              <label for="fichier">Fichier</label>
              <input type="file" id="fichier" (change)="onFileChange($event)" #fileInput>
              <button type="button" class="btn btn-sm btn-default" (click)="clearFile()">Effacer</button>
            </div>
          </div>
          <div class="col align-self-center">
            <button type="submit" [disabled]="form.invalid || loading" class="btn btn-success btn-lg">
              Importer <i class="fa fa-spinner fa-spin fa-fw" *ngIf="loading"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
