<h2>Bienvenue !</h2>
<div class="row text-center">
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Saisir des heures" placement="bottom" routerLink="/saisie/nouvelle">
      <img src="../../assets/icons/plus.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Calcul mensuel" placement="bottom" routerLink="/synthese">
      <img src="../../assets/icons/arrow-alt-circle-right.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Visualiser l'historique" placement="bottom" routerLink="/historique">
      <img src="../../assets/icons/stream.svg" class="home-tile">
    </a>
  </div>
</div>
