<div class="row pt-5">
  <div class="col-lg text-right">
    <a class="btn btn-dark btn-lg" tooltip="Nouvelle saisie" placement="top" routerLink="/saisie/nouvelle">
      <img src="../../assets/icons/plus.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg text-left">
    <a class="btn btn-dark btn-lg" tooltip="Gérer les saisies" placement="top" routerLink="/saisie/gestion">
      <img src="../../assets/icons/stream.svg" class="home-tile">
    </a>
  </div>
</div>
<div class="row pt-4">
  <div class="col-lg text-right">
    <a class="btn btn-dark btn-lg" tooltip="Paramètres" placement="bottom" routerLink="/parametrage">
      <img src="../../assets/icons/cog-solid.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg text-left">
    <a class="btn btn-dark btn-lg" tooltip="Synthèse" placement="bottom" routerLink="/synthese">
      <img src="../../assets/icons/arrow-alt-circle-right.svg" class="home-tile">
    </a>
  </div>
</div>
