<h2>Bienvenue !</h2>
<div class="row text-center">
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Saisie" placement="bottom" routerLink="/saisie/nouvelle">
      <img src="../../assets/icons/plus.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Gérer les saisies" placement="bottom" routerLink="/saisie/gestion">
      <img src="../../assets/icons/stream.svg" class="home-tile">
    </a>
  </div>
  <div class="col-lg">
    <a class="btn btn-dark btn-lg" tooltip="Synthèse" placement="bottom" routerLink="/synthese">
      <img src="../../assets/icons/arrow-alt-circle-right.svg" class="home-tile">
    </a>
  </div>
</div>
